{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Description</title>

    <link rel="stylesheet" href="{% static 'styles/description.css' %}">
</head>
<body>
    
    <div class="main-container">
        
        <div class="action-container">
            <form action="{% url 'get-description' %}" method="post" id="form-container">
                {% csrf_token %}
                <button name="memory_summary">Memory summary</button>
                <button name="directory">Directory</button>
                <button name="show_arp">Show ARP</button>
                <button name="show_bgp">Show BGP</button>
                <button name="show_bgp_instance_summary">BGP interface summary</button>
                <button name="show_bgp_neighbors">BGP neighbors</button>
                <button name="show_configuration_commit_list">Configuration commit list</button>
                <button name="show_ip_bgp_summary">IP BGP summary</button>
                <button name="show_ipv4_interface">IPV4 interface</button>
                <button name="show_ipv4_vrf_interface_brief">IPV4 VRF interface brief</button>
                <button name="show_ipv6_neighbors">IPV6 neighbors</button>
                <button name="show_isis_neighbors">ISIS neighbors</button>
                <button name="show_vrf_detail">VRF details</button>
                <button name="show_rsvp_neighbors">RSVP neighbors</button>
                <button name="show_redundancy_summary">Redundancy summary</button>
                <button name="show_ospf_neighbor">OSPF neighbors</button>
                <button name="show_ospf_vrf_interface_brief">OSPF VRF interface brief</button>
                <button name="show_ospf_vrf_neighbor">OSPF VRF neighbors</button>
                <button name="interface_description">Interface description</button>
                <button name="interface_brief">Interface brief</button>
                <button name="all_interface">All interface</button>
                <button name="device_version">Show version</button>
                <button name="ip_interface">IP interface</button>
                <button name="policy_map_details">Policy maps</button>
                <button name="running_configuration">All configurations</button>
                <button name="ip_route">IP route</button>
                <button name="process_cpu">Process CPU</button>
                <button name="test">test</button>
            </form>
        </div>

        
        <div class="output-container">
            {% if data %}
                {% if data_type|is_string %}
                    <div class="output-string-format">
                        <pre>{{ data }}</pre>
                    </div>
                {% else %}
                    <table id="data-table">
                        <thead>
                            <tr>
                                {% for key in data.0.keys %}
                                    <th>{{ key }}</th>
                                {% endfor %}
                            </tr>
                        </thead>

                        <tbody>
                            {% for row in data %}
                                <tr>
                                    {% for key, value in row.items %}
                                        {% if key == 'interface' %}
                                            <td>
                                                <a href="{% url 'interface-config' value %}" 
                                                    style="text-decoration: none;">
                                                    {{ value }}
                                                </a>
                                            </td>
                                        {% else %}
                                            <td>{{ value }}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}

            {% else %}
                <p style="padding: 30px;">No data available</p>
            {% endif %}
        </div>
    </div>


    <!-- highlighting selected button -->
    <script>
        let clicked_button_name = '{{ clicked_button_name }}';
        const button = document.querySelector(`button[name="${clicked_button_name}"]`);
        button.style.backgroundColor = 'slategray';
        button.style.color = 'white';
    </script>
    
    <!-- for avoiding resubmission -->
    <script>
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
        }
    </script>

    <!-- sorting menu options -->
    <script>
        // Get the form element
        const form = document.getElementById('form-container');
        
        // Get all button elements and convert to an array
        const buttons = Array.from(form.getElementsByTagName('button'));
        
        // Sort the buttons by their inner text
        buttons.sort((a, b) => a.textContent.localeCompare(b.textContent));
        
        // Remove existing buttons and append them in sorted order
        buttons.forEach(button => form.appendChild(button));
    </script>

</body>
</html>