{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Description</title>

    <link rel="stylesheet" href="{% static 'styles/description.css' %}">
</head>
<body>
    
    <div class="main-container">
        
        <div class="action-container">
            <form action="{% url 'get-description' %}" method="post">
                {% csrf_token %}
                <button name="memory_summary">Memory summary</button>
                <button name="interface_description">Interface description</button>
                <button name="interface_brief">Interface brief</button>
                <button name="all_interface">All interface</button>
                <button name="device_version">Show version</button>
                <button name="ip_interface">IP interface</button>
                <button name="policy_map_details">Policy maps</button>
                <button name="running_configuration">All configuration</button>
                <button name="ip_route">IP route</button>
                <button name="process_cpu">Process CPU</button>
                
            </form>
        </div>

        
        <div class="output-container">
            {% if data %}
                {% if data_type|is_string %}
                    <pre>{{ data }}</pre>
                {% else %}
                    <table id="data-table">
                        <thead>
                            <tr>
                                {% for key in data.0.keys %}
                                    <th>{{ key }}</th>
                                {% endfor %}
                            </tr>
                            
                        </thead>

                        <tbody>
                            {% for row in data %}
                                <tr>
                                    {% for key, value in row.items %}
                                        <td>{{ value }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}

            {% else %}
                <p style="padding: 30px;">No data available</p>
            {% endif %}
        </div>
    </div>


    <!-- highlighting selected button -->
    <script>
        let clicked_button_name = '{{ clicked_button_name }}';
        const button = document.querySelector(`button[name="${clicked_button_name}"]`);
        button.style.backgroundColor = 'slategray';
        button.style.color = 'white';
    </script>
    
    <!-- for avoiding resubmission -->
    <script>
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
        }
    </script>
</body>
</html>